@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "../tailwind-plugin/tw-theme";
@plugin "../tailwind-plugin/tw-bs-grid";

:root {
  --sl-color-accent-low: color-mix(in srgb, var(--color-primary), #000 86%);
  --sl-color-accent: var(--color-primary);
  --sl-color-accent-high: color-mix(in srgb, var(--color-primary), #fff 74%);

  --sl-color-white: var(--color-light);
  --sl-color-gray-1: color-mix(in srgb, var(--color-dark) 8%, var(--color-light) 92%);
  --sl-color-gray-2: color-mix(in srgb, var(--color-dark) 22%, var(--color-light) 78%);
  --sl-color-gray-3: color-mix(in srgb, var(--color-dark) 42%, var(--color-light) 58%);
  --sl-color-gray-4: color-mix(in srgb, var(--color-dark) 62%, var(--color-light) 38%);
  --sl-color-gray-5: color-mix(in srgb, var(--color-dark) 79%, var(--color-light) 21%);
  --sl-color-gray-6: color-mix(in srgb, var(--color-dark) 88%, var(--color-light) 12%);
  --sl-color-black: var(--color-dark);
  --sl-sidebar-width: 300px;
  --sl-color-hairline: color-mix(in srgb, var(--sl-color-white) 12%, transparent);
}

:root[data-theme="light"] {
  --sl-color-accent-low: color-mix(in srgb, var(--color-lightmode-primary), #fff 72%);
  --sl-color-accent: var(--color-lightmode-primary);
  --sl-color-accent-high: color-mix(in srgb, var(--color-lightmode-primary), #001 84%);

  --sl-color-white: var(--color-lightmode-light);
  --sl-color-gray-1: color-mix(in srgb, var(--color-lightmode-dark) 12%, var(--color-lightmode-light) 88%);
  --sl-color-gray-2: color-mix(in srgb, var(--color-lightmode-dark) 25%, var(--color-lightmode-light) 75%);
  --sl-color-gray-3: color-mix(in srgb, var(--color-lightmode-dark) 47%, var(--color-lightmode-light) 53%);
  --sl-color-gray-4: color-mix(in srgb, var(--color-lightmode-dark) 66%, var(--color-lightmode-light) 34%);
  --sl-color-gray-5: color-mix(in srgb, var(--color-lightmode-dark) 81%, var(--color-lightmode-light) 19%);
  --sl-color-gray-6: color-mix(in srgb, var(--color-lightmode-dark) 92%, var(--color-lightmode-light) 8%);
  --sl-color-black: var(--color-lightmode-dark);
}

@theme {
  --color-primary-gradient: linear-gradient(
    135deg,
    color-mix(in srgb, var(--sl-color-accent) 80%, #38bdf8 20%),
    color-mix(in srgb, var(--sl-color-accent) 68%, #1d4ed8 32%)
  );
}

@import "./base.css";
@import "./navigation.css";
@import "./components.css";
@import "./button.css";
